body{
    
    display:grid;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.container1,.container2
{
    width:30rem;
    height: 30rem;
    position: relative;
    overflow: hidden;
    display: flex;
}
.container1 img
{
    width: 100%;
    transition: all 1s;

}
.content1
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all 1s;
    background: rgb(23, 23, 23);
    transform: translateX(-100%);

}
.container1:hover .content1
{
    transform: translateX(0);
}
.container1:hover img
{
    transform: translateX(100%);
}


/*card2*/
.container2
{
    padding-top: 7rem;
   
}
.container2 img {
    width: 100%;
    transition: all 0.5s;
  }
  
  .content2 {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all 0.5s;
    background: rgb(23, 23, 23);
    transform: translateY(100%);
  }
  
  .container2:hover .content2 {
    transform: translateY(0);
  }
  
  .container2:hover img {
    transform: translateY(-20%);
  }

  
  /*card3*/
  .card3 {
    position: relative;
    width: 30rem;
    height: 35rem;
    background-color: black;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.5);
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
  
  .content3 {
    position: absolute;
    bottom: 0px;
    width: 80%;
    height: 10px;
    background: crimson;
    left: 10%;
    text-align: center;
    transition: 0.5s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin: 25px;
    color: #fff;
  }
  
  p {
    width: 80%;
    margin: 10px auto;
    font-size: 18px;
    transition: 0.5s;
    opacity: 0;
    line-height: 25px;
    color: #fff;
  }
  
  a {
    text-decoration: none;
    background-color: black;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 10px;
    transition: 0.5s;
    opacity: 0;
    line-height: 25px;
    color: #fff;
  }
  
  .card3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
  }
  
  .card3:hover .content3{
    height: 100%;
    width: 100%;
    left: 0;
  }
  
  .card3:hover p,
  .card3:hover a {
    opacity: 1;
    transition-delay: 0.5s;
  }
  
  .img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
  }
  
  .card3:hover img {
    opacity: 0;
  }